.fixed-card{
    margin-right: 10px;
    margin-top: 5px;
}
.text-card-size-fixed{
    font-size: 18px;
}
.fixed-12{
    margin-top: 5px;
    font-weight: 600;

}
.dayoff-danger{
    color: red;
    font-size: 15px;
}
.dayoff-success{
    color: green;
    font-size: 15px;
}
.star{
    color: red;
    font-size: 10px;
}
.rota-icon-size-fixed{
    font-size: 40px !important;
}

[data-layout-mode=light] .header .header-left .logo{
    display:inline-block !important;
}
[data-layout-mode=light] .mini-sidebar .header-left .logo{
    display:none !important;
}
.card.dash-widget{
    border-radius: 12px;
    overflow:hidden;
}
.card.dash-widget .card-body {
    padding: 18px 18px;
    transition: 0.3s ease-in-out;
}
.card.dash-widget .card-body:hover {
    background-color:#ff902f;
    color:#fff;
    transition: 0.3s ease-in-out;
}
.card.dash-widget .card-body:hover h3, .card.dash-widget .card-body:hover a span, .card.dash-widget .card-body:hover a i{
    color:#fff !important;
}
.card.dash-widget .card-body:hover .dash-widget-icon{
    background-color:#fff;
}
.card.dash-widget .arrow-icon span{
        font-size: 13px;
    padding-right: 10px;
}
/*24.11.21 start*/
.dashboard-card .db-box{
    display:flex;
    gap:15px;
    align-items: center;
}
.dashboard-card{
    border-radius:12px;
    box-shadow:0 .75rem 1.5rem rgba(18,38,63,.03);
    overflow: hidden;
     transition: 0.3s ease-in-out;
     padding:18px;
     background-color:#fff;
}
.card.border-0{
    border-radius:12px;
    background-color: transparent;
    box-shadow: none;
}
.dashboard-card .img-box{
    padding: 10px;
    height: 45px;
    border-radius: 8px;
    background-color: rgba(255, 155, 68, 0.2);
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff902f;
}
.dashboard-card .img-box i{
    font-size:20px;
}
.dashboard-card .img-box-text .text-card-size-fixed{
     color: #495057;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
}
.dashboard-card .img-box-text .fs-12 a{
    color:#878a99 !important;
    font-weight:400 !important;
}
.dashboard-card .img-box-text .fs-12 a i{
        margin-top: 0;
    margin-right: 0;
    margin-left: 5px;
    font-size: 15px;
}
.dashboard-card:hover{
    background-color:#ff902f;
    transition: 0.3s ease-in-out;
    transform: translateY(-3px);
}
.dashboard-card:hover .img-box{
    border-color:#fff;
    background-color:#ffebda;
}
.dashboard-card:hover .text-card-size-fixed {
    color:#fff !important;
}
.dashboard-card:hover .img-box-text a{
    color:#fff !important;
}
.dashboard-card .abstract{
        z-index: 0;
    top: -25px;
    right: -50px;
    transform: rotate(180deg);
}
.card.dash-widget{
    transition: 0.3s ease-in-out;
}
.card.dash-widget:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-3px);
}
/*24.11.21 end*/

/* __________________________________________ Tuhin Update ___________________________________________________ */

.employee-noti-content::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

.employee-noti-content::-webkit-scrollbar-thumb{
    background-color: #c4c5c959;
    border-radius: 30px;
}
.sidebar_bottom{
    transition: all 0.3s;
}

.mini-sidebar:not(.expand-menu) .sidebar_bottom{
    width: 60px;
    font-size: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mini-sidebar:not(.expand-menu) .sidebar_bottom p{
    font-size: 0 !important;
}

.mini-sidebar.expand-menu .sidebar_bottom{
    width: 250px;
}

.sidebar_bottom{
    height: 54px;
}

.employee-noti-content{
    padding-right: 15px;
}

.mini-sidebar:not(.expand-menu) .header-left{
    display: none;
    transition: all 0.3s;
}

.mini-sidebar.expand-menu .header-left{
    display: block;
}
.hr_dashboard_scroll_main{
    height: 100vh;
    overflow-y: scroll;
    padding-right: 15px;
}

.hr_dashboard_scroll_main::-webkit-scrollbar{
    width: 5px;
}
.hr_dashboard_scroll_main::-webkit-scrollbar-thumb{
    background-color: #ff902f84;
    border-radius: 30px;
}

/* .hr_dashboard_scroll_main::-webkit-scrollbar-track{
    background-color: #878a998c;
    border-radius: 30px;
} */

body::-webkit-scrollbar{
    display: none;
}

.table-responsive{
    overflow-x: clip;
}

.dataTables_wrapper .row:nth-child(2){
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-bottom: 20px !important;
}

.dataTables_wrapper .row:nth-child(2)::-webkit-scrollbar {
    width: 5px;
}

.dataTables_wrapper .row:nth-child(2)::-webkit-scrollbar-thumb{
    background-color: #ff902f84;
}

.btn-download {
    background-color: #fff;
    color: #FF902F;
    border: 1px solid #FF902F;
    padding: 9px 10px;
    font-size: 14px;
    border-radius: 5px;
    float: right;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover effect */
.btn-download:hover {
    background-color: #FF902F;
    color: white;
    transform: scale(1.1);
}

/* Spacing for Excel button */
.btn-download-excel {
    margin-right: 15px;
}

/* PDF Button Icon */
.btn-download-pdf::before {
    content: "\f1c1"; /* Unicode for PDF icon */
    margin-right: 8px;
    font-family: 'Font Awesome 5 Free'; 
}

/* Excel Button Icon */
.btn-download-excel::before {
    content: "\f1c9"; /* Unicode for Excel icon */
    margin-right: 8px;
    font-family: 'Font Awesome 5 Free'; 
}

.btn-download-excel{
    border-color: green;
    color: green;
}
.btn-download-excel:hover{
    background-color: green;
    color: #fff;
}

.header .user-img img{
    object-fit: contain;
}

/*  */

.sampleupload {
    font-size: 14px;
    color: #FF902F; /* Custom warning color */
    text-decoration: none;
}

.sampleupload:hover {
    text-decoration: underline;
    color: #E87C1A;
}

.btn-outline-secondary {
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 15px;
}

.btn-outline-secondary:hover {
    background-color: #f8f9fa;
    border-color: #888;
    color: #000;
}

.text-warning {
    color: #FF902F !important;
}

.multisteps-form__form .btn:disabled{
    opacity: 0;
}